<footer class="text-center">
    <div class='container'>
        <ul class="list-group list-group-horizontal row justify-content-evenly">
            <li class="col-md-3">
                X-Stream Bin Cleaners
                Phone: (904) 888-8888
                Email: Ben@bincleaners.com
                Address: 123 Some Rd, Inatown, AL 36301
            </li>
            <li class="col-md-3">
                X-Stream Bin Cleaners
                Phone: (904) 888-8888
                Email: Ben@bincleaners.com
                Address: 123 Some Rd, Inatown, AL 36301
            </li>
        </ul>
    </div>
</footer>
