<!-- Footer Component -->
<!-- •	The footer should stretch across the entire page not in a container-->
<footer class="" style='background-color: #254653'>
    <!-- •	The content of footer should be in a container-->
    <!-- <div class='container'> -->
        <ul class="list-group list-unstyled list-group-horizontal row justify-content-around">
            <!-- •	The footer should contain the business contact info AND copyright info on the left side of footer and should be roughly 3 cols wide -->
            <li class="col-md-4 text-right justify-content-start ms-3">
                X-Stream Bin Cleaners<br>
                Phone: (904) 888-8888<br>
                Email: Ben@bincleaners.com<br>
                Address: 123 Some Rd, Inatown, AL 36301
            </li>
            <!-- •	The footer should have a review count and star rating in top center -->
            <li class="col-md-4 text-center justify-content-center mx-3">
                147 Reviews have rated us with:
                <img class="starIcon" src="../../assets/images/star_icons/full_star.png">
                <img class="starIcon" src="../../assets/images/star_icons/full_star.png">
                <img class="starIcon" src="../../assets/images/star_icons/full_star.png">
                <img class="starIcon" src="../../assets/images/star_icons/half_star.png">
                <img class="starIcon" src="../../assets/images/star_icons/empty_star.png">
                
                <br>
                <img src="../../assets/images/social_media_icons/You_Doodle_2022-07-20T20_17_42Z.PNG" alt="">
                <img src="../../assets/images/social_media_icons/You_Doodle_2022-07-20T20_21_31Z.PNG" alt="">
                <img src="../../assets/images/social_media_icons/You_Doodle_2022-07-20T20_22_36Z.PNG" alt="">
                <img src="../../assets/images/social_media_icons/You_Doodle_2022-07-20T20_23_29Z.PNG" alt="">
                <br>
                <!-- •	The footer should also have an encouragement to “follow us on facebook for more news and events” -->
                Follow us on facebook for more news and events!
                <!-- •	The footer should have social media icons in the bottom center -->
            </li>
            <!-- •	The footer should have column in mid-right with links to Privacy Policy, Terms & Conditions, FAQ and Blog -->
            <li class="col-md-3 text-end justify-content-end me-3">
                Privacy Policy<br>
                Terms & Conditions<br>
                FAQ<br>
            </li>
        </ul>
    <!-- </div> -->
</footer>


















