
  <nav class='navbar navbar-expand justify-content-between' style='background-color: #254653'>
    <div class='navbar-nav'>
      <a>
        <img src="../assets/images/X_Stream_Bin_Cleaners_Logo.png" alt="Home" class='logo-link col-md-3 mx-4 my-2' routerLinkActive='active' routerLink='/' title='Home'>
      </a>

      <ul class="nav justify-content-end col-md-6" >
        <li class='col-md-2'>
          <a class='nav-link fs-6 mt-5 me-2 p-2 text-center' routerLinkActive='active' routerLink='/signup'>Sign-Up</a>
        </li>
        <li class='col-md-2'>
          <a class='nav-link fs-6 mt-5 me-2 p-2 text-center' routerLinkActive='active' routerLink='/signin'>Sign-In</a>
        </li>
        <li class='col-md-2'>
          <a class='nav-link fs-6 mt-5 me-2 p-2 text-wrap text-center' routerLinkActive='active' routerLink='/howitworks'>How It Works</a>
        </li>
        <li class='col-md-2'>
          <a class='nav-link fs-6 mt-5 me-2 p-2 text-center' routerLinkActive='active' routerLink='/serviceoptions'>Service Options</a>
        </li>
        <li class='col-md-2'>
          <a class='nav-link fs-6 mt-5 me-2 p-2  text-center' routerLinkActive='active' routerLink='/about'>About Us</a>
        </li>
        <li class='col-md-2'>
          <a class='nav-link fs-6 mt-5 me-2 p-2 text-center' routerLinkActive='active' routerLink='/contact'>Contact Us</a>
        </li>

      </ul>
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>


<app-footer></app-footer>