<div class="card z-index-2 col-md-8" style="max-height: 150px;  border: 1px solid #adae9c; margin-top: 1%;">
    <div class="card-header" style="background-color: #adae9c;">
        <h5 class="card-title m-0" style="font-size: 18px;">-Mary Sue</h5>
        
    </div>
    <div class="card-body" style="padding: 1%;  background-color: #dfe0c8">
        <p class="card-text m-0" style="font-size: 16px;;">"I am so happy with how clean my trash can is now! Ben did a great job!I want to tell everyone how awesome he is!"</p>
        <img class="starIcon" src="../../assets/images/star_icons/full_star.png">
        <img class="starIcon" src="../../assets/images/star_icons/full_star.png">
        <img class="starIcon" src="../../assets/images/star_icons/full_star.png">
        <img class="starIcon" src="../../assets/images/star_icons/half_star.png">
        <img class="starIcon" src="../../assets/images/star_icons/empty_star.png">
        <a href="#" class="btn btn-primary w-25 justify-content-end p-0" style="font-size: 14px; max-height: 40px; margin-left: 45%;">Leave a Review</a>
    </div>
</div>